@import "modules/base.scss";
@import "vendor/dashboard/lightdashboard.scss";
@import "partial/button.scss";


.dashboard-header{
	display:table;
	margin-bottom:20px;
}

.dashboard-header__title{
	font-size:24px;
	display:table-cell;
	vertical-align:middle;
	padding-right:20px;
}


.dashboard-table__link{
	margin-right:15px;
}

.content__title{
	font-size:20px;
	display:inline-block;
	margin-left:20px;
}

.pagination--cms{
	display:inline-block;
    float:right;
    margin-top:20px;
}

.showing-data{
	float: left;
    margin-top: 20px;
}

.registration-info{
font-size: 13px !important;
	margin-left:10px;
color:#656565 !important;
margin-bottom:30px;

}

.label-registration{
	margin-top:10px;
	margin-left:13px;
	font-weight:400;
	font-size:16px;
	color:#656565;
}

.form-register-halfwidth{
	margin-bottom:20px;
}

.form-register-fullwidth{
	
	margin-bottom:20px;
}

.container-segment--registration-dashboard{
	padding-bottom:40px !important;
	padding-top: 40px !important;
}

.container-segment--registration{
	margin-top:50px !important;
}

.content__title{
	margin-bottom:30px;
}

.assign-course{
	margin-top:20px;
	color: #9A9A9A;
	margin-bottom:20px;
}

.no-bullet{
list-style-type: none;
}

.parent-ul{
	margin-left:-30px;
}