@import "modules/base.scss";
@import "vendor/dashboard/lightdashboard.scss";
@import "partial/button.scss";


.dashboard-header{
	display:table;
	margin-bottom:20px;
}

.dashboard-header__title{
	font-size:24px;
	display:table-cell;
	vertical-align:middle;
	padding-right:20px;
}


.dashboard-table__link{
	margin-right:15px;
}

.content__title{
	font-size:20px;
	display:inline-block;
	margin-left:20px;
}

.pagination--cms{
	display:inline-block;
    float:right;
    margin-top:20px;
}

.showing-data{
	float: left;
    margin-top: 20px;
}