
/* Modules */
@import "modules/base.scss";


/* Partials */

@import "partial/clientlayout.scss";
@import "partial/button.scss";
@import "partial/navbar.scss";
@import "partial/card.scss";
@import "partial/profile.scss";
@import "partial/button.scss";
@import "partial/table.scss";
@import "partial/form.scss";
@import "partial/container.scss";

/* Third party */




//Content

.container-segment{
	margin-top:10px;
    margin-bottom:30px;
}

.select-course{
    margin-top:50px;
}

.wrapper-slider{
    background: url(../img/img2.png) repeat-x;
    min-height:380px;
}

.course-image{
    margin-top:30px;
    background-image: url(../img/Hero-browse-course.png);
    width:100%;
    min-height:300px;
    padding-top:50px;
    background-size:cover;
}

.hero-content{
    margin-top: 20px;
    width:100%;
}

.hero-content p{
    font-size:35px;
    font-weight:700;
}



.section-header{
    color: $color-blue;
    border-bottom: 10px #EEDD00 solid;
    display:inline;
}

.blue-mandiri-font{
	color:#0F3A72;
}

.title{
	text-align:center;
	margin-bottom:30px;
}


.cms-content{
	height:auto;
}

.pagination--cms{
	display:inline-block;
    align-self: flex-end;
}


.subheader{
	margin-top:20px;
    margin-bottom:20px;
    margin-left:60px;
}

.yellow-subheader{
	color:#F1B700;
}

//Custom Button


.upload-button{
    display:inline-block;
    border-radius:10px;
    float:right;
    background: #fff;
    border: 1px grey solid;

}

.emoji-button{
    display:inline-block;
    border-radius:10px;
    float:left;
    background: #fff;
    border: 1px grey solid;
}

.button-cms{
    float:right;
    display:inline-block;
    marign-left:10px;
}


.post{

    display:inline-block;
    float:right;
    background: #0F3A72;
    color:#F4CA34;
    border: 1px grey solid;
    position: absolute;
    right: 80px;
    bottom: 40px
}

.more-button{
    float:right;
    background:#fff;
    border: 0px;
    border-radius:10px;
}

.view-conversation-button{
    float:right;
    background: #fff;
    border: 0px;
    border-radius:10px;
}


.icon__streaming--image{
	
	width:70px;
	height:70px;

}

.icon__streaming{
	display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left:100px;
	
}

