/* Modules */
@import "modules/base.scss";


/* Partials */

@import "partial/global.scss";
@import "partial/button.scss";
@import "partial/navbar.scss";
@import "partial/card.scss";
@import "partial/profile.scss";
@import "partial/button.scss";
@import "partial/table.scss";
@import "partial/form.scss";


/* Third party */







//Content

.container-segment{
	margin-top:10px;
}

.blue-mandiri-font{
	color:#0F3A72;
}

.title{
	text-align:center;
	margin-bottom:30px;
}


.cms-content{
	height:auto;
}

.pagination--cms{
	display:inline-block;
    align-self: flex-end;
}


.subheader{
	margin-top:20px;
    margin-bottom:20px;
    margin-left:60px;
}

.yellow-subheader{
	color:#F1B700;
}

//Custom Button


.upload-button{
    display:inline-block;
    border-radius:10px;
    float:right;
    background: #fff;
    border: 1px grey solid;

}

.emoji-button{
    display:inline-block;
    border-radius:10px;
    float:left;
    background: #fff;
    border: 1px grey solid;
}

.button-cms{
    float:right;
    display:inline-block;
    marign-left:10px;
}


.post{

    display:inline-block;
    float:right;
    background: #0F3A72;
    color:#F4CA34;
    border: 1px grey solid;
    position: absolute;
    right: 80px;
    bottom: 40px
}

.more-button{
    float:right;
    background:#fff;
    border: 0px;
    border-radius:10px;
}

.view-conversation-button{
    float:right;
    background: #fff;
    border: 0px;
    border-radius:10px;
}


.icon__streaming--image{
	
	width:100px;
	height:100px;

}

.icon__streaming{
	display:table-cell;
	vertical-align:middle;
    width:auto;
}

