.btn{	
    border: none;
    color: white;
    padding: 10px 32px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:4px;
    font-weight: 700;
}

.btn--orange{
	background-color:$color-orange;
	color:white;
}

.btn--blue{
	background-color:$color-blue;
	color:white;
}

.btn--orange:hover, .btn--orange:active{
	background-color: darken($color-orange, 4%) !important;
    color:white;
}

.btn--blue:hover, .btn--orange:active{
	background-color: darken($color-blue, 4%) !important;
    color:white;
}