//Size
$height-card:133%;

/*Color*/
$color-orange: #F1B700;
$color-blue: #003D79;


/*image path*/
$image-path: '../img';

body{
	font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
  	font-weight: 400;
}