



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #999999;
  font-size: 12px;
  background: linear-gradient(to left, $color-orange 50%, $color-blue 50%);
  color:white;
  padding:0px;
  z-index: 2;
}

.footer:before{
  content: "";
    background: url(../img/footer-orange.png);
    /* line-height: 60px; */
    padding-right: 15px;
    color: #222;
    font-weight: 700;
    width: 50%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
    right: 0;
}


.footer-left{
  background:$color-blue;
  line-height:60px;
  padding-right:15px;
}

.footer-right{
  background:url($image-path+'/footer-orange.png');
  line-height:60px;
  padding-right:15px;
  color:#222;
  font-weight:700;
}


@media(max-width:768px){
  .footer {
  
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #999999;
  font-size: 12px;
  background: $color-blue;
  color:white;
  padding:20px 0px;
  z-index: 2;
  height: auto;
}

.footer:before{
  content: "";
   height: 0;
}


.footer-left{
  background:$color-blue;
  padding-right:15px;
  line-height: 20px;
}

.footer-right{
  background:none;
  padding-right:15px;
  color:white;
  font-weight:700;
  line-height: 20px;
}
}

.footer-left__content--right{
  float:none;
}

.footer-left__content--right a{
  color:white;
}

.footer-left__content--right a:hover{
  text-decoration:none;
  color:$color-orange;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.main-content {
  background: #efefef;
  padding: 20px;
  height:calc(100vh - 110px);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container{
  max-width:1000px;
}
