.container--table{
	display:table;
}

.container--table-cell{
	float:none;
	display:table-cell;
	vertical-align:middle;
	padding:20px 20px 20px 20px;
}

.row-course{
	margin-top:30px;
}

.container-hero{
	margin-top:30px;
}