//Forms and textareas

.form-box{
	margin-left:95px;
	margin-right:15%;
}

.text-area{
	border:0px;
	display:block;
	width:110%;
	height:initial;
	margin-top:2rem;
	margin-bottom:5rem;
	resize:none;
	
}
