.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-image: url('#{$image-path}/navbar-border.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
	padding-bottom: 10px;
	background-color:transparent;
	border:0px;
}

.navbar:before{
	background-position: bottom center;
    padding-bottom: 10px;
    background: #f8f8f8;
    height: 100%;
    width: 100%;
    display: block;
    z-index: -2;
    position: absolute;	
}

.navbar:after{
	background-position: bottom center;
    padding-bottom: 10px;
    background-repeat: repeat-x;
    width: 100%;
    height: 13px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, $color-blue 50%, $color-orange 50%);
}


.navbar-brand{
	height:auto;
}

.navbar__link{
	color: $color-blue !important;
	font-weight:700;
	padding-top:10px !important;
	padding-bottom:10px !important;
}

.navbar li{
	margin-top: (128px/2)-15px;
}

.navbar__link:hover{
	border-bottom:4px #ffc709 solid;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color:transparent;
	border-bottom:4px #ffc709 solid;
}

