//profile

.profile-pic{
	display: inline-block;
	margin-right: 20px;
	margin-top:20px;	
}

.profile-pic img{
	width: 5rem;
	height: 5rem;
	margin-left:20px;
}

.profile-name{
	color:#003D79 !important;
	font-size:1.5rem;
	font-weight:700;
}

.profile-name a{
	
	
}